#links {
	font-size: 34px;
	font-family: Arial, sans-serif;
	color: #f2f2f2;
	display: inline-block;
	width: 560px;
	vertical-align: top;
	text-align: left;
	margin-left: 40px;
	transform: translate(0, 50%)
}

#picture {
	display: inline-block;
	width: 400px;
	transform: translate(0, 45%)
}

#all {
	width: 1025px;
	margin: 0 auto;
}

#links, #picture {
	border: 1px;
    float: left;
    min-height: 400px;
}

 body {
        background-color: #00004d;
}

a:link {
  color: #f2f2f2;
  text-decoration: none
}

a:visited {
  color: #f2f2f2;
  text-decoration: none
}

a:hover {
  color: #ffcc00;
  text-decoration: none
}

a:active {
  color: #f2f2f2;
  text-decoration: none
}