body.dark-grey-bg {
    background-color: rgb(54, 54, 54);
  }
  
  .light-dark-grey-bg {
    background-color: rgb(83, 83, 83);
  }
  
  .orange-outline {
    border: 1px solid rgb(199, 129, 1);
  }
  
  .rounded {
    border-radius: 10px;
    justify-content: center;
    max-width: 720px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
  }
  
  .rounded-square {
    border-radius: 10%;
    max-height: 100%;
    max-width: 100%;
  }
  
  a.link {
    color: white;
    text-decoration: none;
  }
  
  a.link:hover {
    color: rgb(199, 129, 1);
  }
  
  .link-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: middle;
    display: inline-block;
  }
  
  .link-icon,
  a.link:hover .link-icon {
    color: rgb(199, 129, 1);
  }